<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport">
    <title>Crazy playlist</title>
  </head>
  <body>

    <h1>playlistsssss</h1>
    <div id="player1">
      SONG 1!!!!
      <audio src="<%= track1['preview'] %>" controls>
        <p>Your browser does not support the <code>audio</code> element </p>
      </audio>
    </div>

    <div id="player2">
      <div class="control">SONG 2!!!!</div>
    </div>

  <script>

  </script>
  </body>
</html>

