<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport">
    <title>Crazy playlist</title>
  </head>
  <body>

    <h1>playlistsssss</h1>

    <% songs.each do |song| %>
      <div class="song"
           name="<%= song['title'] %>">

        <p>
          <%= song['title'] %>,
          <%= song['contributors'].first['name'] %>
        </p>

        <audio src="<%= song['preview'] %>" controls>
          <p>Your browser does not support the <code>audio</code> element </p>
        </audio>

      </div>
    <% end %>

  </body>
</html>

